$dropdownItemHeight: 2*$baseFontSize;

.recipe-item {
	
	span {
		font-size: 2*$baseFontSize;
	}
}

.Picker {
	position: relative;
	display: inline-block;

	input {
		padding: 10px;

	}

	&__link {
		text-decoration: none;
		margin-right: 20px;
		position: relative;

		&:after {
			//@TODO chevron here
			position: absolute;
		    right: -20px;
		    top: 8px;
		    font-size: 23px;
		    content: '>';
			display: inline-block;
			transform: rotate(90deg);
		}
	}

	&__dropdown {
		transition: all ease $global-transition;
		transition-property: height, padding;
		padding: 0 0.5*$baseLength;
		overflow: hidden;
		z-index: 100;
		height: 0;
		position: absolute;
		left: 0;
		margin: 0;
		top: $dropdownItemHeight;
		list-style: none;
		background: white;

		&--active {
			height: ($dropdownItemHeight * 3) + (2*$baseLength);
			padding: 0.5*$baseLength;
		}
	}

	input {
		display: inline;
		max-width: 4rem!important;
	}

	select,
	input  {
		margin: 0 10px 0 -5px;
	}
}

.newbtn {
    background: #ccc;
    border-radius: 100%;
    height: 2*$baseLength;
    width: 2*$baseLength;
    display: inline-block;
    color: $color-grey;
    font-weight: bold;
    padding: 0 5px;
    line-height: 1;
    text-decoration: none;
	position: relative;	
	margin-bottom: -10px;

    &:before {
    	content: '+';
		position: absolute;
		left: 19px;
		top: 18px;
		font-size: 35px;
		transform: translate(-50%, -50%);
    }
}

.inlineblock {
	display: inline-block!important;
}
