// QUICK BREAKPOINT
@mixin breakpoint($breakpoint) {

   @if $breakpoint == "MOBILE-port--max" {
       @media (max-width:320px) {
           @content;
       }
   }

   @else if $breakpoint == "MOBILE-land--max" {
       @media (max-width:480px) {
           @content;
       }
   }
}


// PLACEHOLDER
@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}


//BUTTON RESET
%button-reset {
    -webkit-appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
}
